source "Kconfig.zephyr"

config SETTINGS
	default y

config ZMS
	default y if (SOC_FLASH_NRF_RRAM || SOC_FLASH_NRF_MRAM)

config NVS
	default y if !(SOC_FLASH_NRF_RRAM || SOC_FLASH_NRF_MRAM)

config HAS_CANBUS
	bool "CAN-BUS present onboard"
	default n

config CANBUS_BD
	int  
	default 1000000

config HAS_LED_RGB
	bool "RGB LED"
	default n

config RGB_LED_BRIGHTNESS
	int	
	default 50

config HAS_LED_SIMPLE
	bool "Simple led"
	default y

config USE_NRF_SDK
	bool
	default n

#define LOG_LEVEL_NONE 0
#define LOG_LEVEL_ERR  1
#define LOG_LEVEL_WRN  2
#define LOG_LEVEL_INF  3
#define LOG_LEVEL_DBG  4

config CAN_LOG_LVL
	int
	default 4

config BLE_LOG_LVL
	int
	default 4

config PARSE_LOG_LVL
	int
	default 4

config LEDS_LOG_LVL
	int
	default 3

config BUTTONS_LOG_LVL
	int
	default 3
