#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

config SETTINGS
	default y

config ZMS
	default y if (SOC_FLASH_NRF_RRAM || SOC_FLASH_NRF_MRAM)

config NVS
	default y if !(SOC_FLASH_NRF_RRAM || SOC_FLASH_NRF_MRAM)

config HAS_CANBUS
	bool "CAN-BUS present onboard"
	default n

config CANBUS_BD
	int  
	default 1000000

config HAS_LED_RGB
	bool "RGB LED"
	default n

config RGB_LED_BRIGHTNESS
	int	
	default 50

config HAS_LED_SIMPLE
	bool "Simple led"
	default y

#define LOG_LEVEL_NONE 0
#define LOG_LEVEL_ERR  1
#define LOG_LEVEL_WRN  2
#define LOG_LEVEL_INF  3
#define LOG_LEVEL_DBG  4

config CAN_LOG_LVL
	int
	default 4

config BLE_LOG_LVL
	int
	default 4

config PARSE_LOG_LVL
	int
	default 4

config LEDS_LOG_LVL
	int
	default 3

config BUTTONS_LOG_LVL
	int
	default 3

#ESP32 settings
if !USE_NRF_SDK
config BT_SCAN_UUID_CNT
	int
	default 1

config BT_SCAN_FILTER_ENABLE
	bool
	default y

config BT_SCAN_MANUFACTURER_DATA_CNT
	int
	default 0

config BT_SCAN_MANUFACTURER_DATA_MAX_LEN
	int
	default 32

config BT_SCAN_APPEARANCE_CNT
	int
	default 0

config BT_SCAN_ADDRESS_CNT
	int	
	default 1

config BT_SCAN_SHORT_NAME_CNT
	int
	default 0

config BT_SCAN_SHORT_NAME_MAX_LEN
	int
	default 32

config BT_SCAN_LOG_LEVEL
	int
	default 3 

config BT_GATT_DM_MAX_ATTRS
	int
	default 35

config BT_GATT_DM_LOG_LEVEL
	int
	default 3

config BT_SCAN_NAME_CNT
	int
	default 0

config BT_SCAN_NAME_MAX_LEN
	int
	default 32
endif