CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

CONFIG_ARM_TRUSTZONE_M=y

CONFIG_HAS_CANBUS=y

CONFIG_BT_SCAN=y
CONFIG_BT_SCAN_FILTER_ENABLE=y
CONFIG_BT_SCAN_UUID_CNT=1
CONFIG_BT_SCAN_ADDRESS_CNT=1
CONFIG_BT_GATT_DM=y
CONFIG_BT_GATT_DM_DATA_PRINT=y

CONFIG_USE_SEGGER_RTT=y
CONFIG_LOG_BACKEND_RTT=y
CONFIG_LOG_BACKEND_UART=n

CONFIG_SEGGER_SYSTEMVIEW=y

CONFIG_SEGGER_RTT_BUFFER_SIZE_DOWN=8192
CONFIG_SEGGER_RTT_PRINTF_BUFFER_SIZE=8192

CONFIG_SHELL_BACKEND_RTT=y
#CONFIG_SHELL_BACKEND_RTT_BUFFER=1
CONFIG_LOG_BACKEND_RTT_BUFFER=1

CONFIG_HW_ID_LIBRARY=y

