/dts-v1/;
#include <nordic/nrf52840_qfaa.dtsi>
#include "goprocan_nrf52840-pinctrl.dtsi"

/ {
	model = "CAN to BLE nrf52840";
	compatible = "vend,goprocan-nrf52840";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,canbus = &canbus;
	};

	aliases {
		led0 = &led0;
		led1 = &led1;
		cannode = &canbus;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
			label = "Green LED";
		};
		led1: led_1 {
			gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
			label = "Blue LED";
		};
	};

	mcp_rst_switch: mcp_rst_switch {
		compatible = "power-switch";
		gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
	};

};

&uart0 {
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
	current-speed = <38400>;
	status = "okay";
};

&gpio1 {
	status = "okay";
	label = "GPIO_1";
};

&gpio0 {
	status = "okay";
	label = "GPIO_0";
};

&gpiote {
    status = "okay";
};

&spi0{
    compatible = "nordic,nrf-spi";
    status = "okay";
    cs-gpios = <&gpio0 26 GPIO_ACTIVE_LOW>;
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default","sleep";

    canbus:mcp2515@0 {
		compatible = "microchip,mcp2515";
		spi-max-frequency = <1000000>;
		int-gpios = <&gpio1 9 (GPIO_ACTIVE_LOW)>; 
		status = "okay";
		label = "CAN_1";
		reg = <0x0>;
		osc-freq = <8000000>;
		can-transceiver {
			min-bitrate = <125000>;
			max-bitrate = <1000000>;
		};

	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(48)>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 DT_SIZE_K(472)>;
		};

		slot1_partition: partition@82000 {
			label = "image-1";
			reg = <0x00082000 DT_SIZE_K(472)>;
		};

		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 DT_SIZE_K(32)>;
		};
	};
};

