CONFIG_ARM_MPU=y
CONFIG_HW_STACK_PROTECTION=y

CONFIG_BT_SCAN=y
CONFIG_BT_SCAN_FILTER_ENABLE=y
CONFIG_BT_SCAN_UUID_CNT=1
CONFIG_BT_SCAN_ADDRESS_CNT=1
CONFIG_BT_GATT_DM=y
CONFIG_BT_GATT_DM_DATA_PRINT=y

#CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_SYNTH=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=n

CONFIG_GPIO=y
CONFIG_SPI=y
CONFIG_SPI_NRFX=y
#CONFIG_NRFX_SPIM1=y
#CONFIG_NRFX_SPIM0=y
CONFIG_NRFX_GPIOTE0=y

CONFIG_CAN_MCP2515=y

CONFIG_HAS_CANBUS=y

CONFIG_SPI_LOG_LEVEL_DBG=n
CONFIG_CAN_LOG_LEVEL_DBG=n


CONFIG_USE_SEGGER_RTT=y
CONFIG_LOG_BACKEND_RTT=y
CONFIG_LOG_BACKEND_UART=n

CONFIG_SEGGER_SYSTEMVIEW=y

CONFIG_SEGGER_RTT_BUFFER_SIZE_DOWN=8192
CONFIG_SEGGER_RTT_PRINTF_BUFFER_SIZE=8192

CONFIG_SHELL_BACKEND_RTT=y
#CONFIG_SHELL_BACKEND_RTT_BUFFER=1
CONFIG_LOG_BACKEND_RTT_BUFFER=1

CONFIG_HW_ID_LIBRARY=y

CONFIG_HEAP_MEM_POOL_SIZE=32768

CONFIG_HAS_LED_RGB=n
CONFIG_HAS_LED_SIMPLE=y
