/*
 * Copyright (c) 2024 Arrel Neumiller
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <espressif/esp32c3/esp32c3_fx4.dtsi>
#include "esp32c3_can-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/led/led.h>
#include <espressif/partitions_0x0_default.dtsi>

/ {
	model = "ESP32C3-CAN";
	compatible = "espressif,esp32c3_supermini";

	chosen {
		zephyr,sram = &sram1;
		zephyr,console = &usb_serial;
		zephyr,shell-uart = &usb_serial;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,canbus = &twai;
	};

	aliases {
		// led0 = &blue_led_0;
//		sw0 = &user_button1;
		i2c-0 = &i2c0;
		watchdog0 = &wdt0;
		ledstrip = &ledstrip;
	};

	mcp_rst_switch: mcp_rst_switch {
		compatible = "power-switch";
		gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
	};

	// gpio_keys {
	// 	compatible = "gpio-keys";

	// 	user_button1: button_1 {
	// 		label = "User SW1";
	// 		gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	// 		zephyr,code = <INPUT_KEY_0>;
	// 	};
	// };

	// leds {
	// 	compatible = "gpio-leds";

	// 	blue_led_0: led_0 {
	// 		gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
	// 		label = "Blue LED 0";
	// 	};
	// };
};

&spi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&spim2_default>;
	pinctrl-names = "default";


	line-idle-low;
	ledstrip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		/* SPI */
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <6400000>;

		/* WS2812 */
		chain-length = <1>; /* arbitrary; change at will */
		spi-cpha;
		spi-one-frame = <0xf0>; /* 11110000: 625 ns high and 625 ns low */
		spi-zero-frame = <0xc0>; /* 11000000: 312.5 ns high and 937.5 ns low */
		color-mapping = <LED_COLOR_ID_RED 
				 LED_COLOR_ID_GREEN
				 LED_COLOR_ID_BLUE>;
	};

};

&usb_serial {
	status = "okay";
};

&i2c0 {
	status = "disabled";
};

&trng0 {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&uart0 {
	status = "disabled";
};

&esp32_bt_hci {
	status = "okay";
};

&wifi {
	status = "okay";
};

&twai {
	pinctrl-0 = <&twai_default>;
	pinctrl-names = "default";
	status = "okay";
};
